.popupContainer {
  padding: 8px;
  border: 1px solid gainsboro;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  display: inline-block;
  border-radius: 8px;
  position: absolute;
  margin-top: 12px;
}
